{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
  <title>Login | GeoCrisis</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
  <div class="container">
    <form id="login-form" class="form" method="post">
      {% csrf_token %}
      <!-- {{ form.as_p }} -->
      <h2>LOG IN</h2>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit">LogIn</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</body>

</html>