{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
  <title>Sign Up | GeoCrisis</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
  <div class="container">
    <form id="signup-form" class="form" method="post">
      {% csrf_token %}
      <h2>SIGN UP</h2>
      <input type="text" placeholder="First name" name="fname" required>
      <input type="text" placeholder="Last name" name="lname" required>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Password" name="password" required>
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</body>

</html>